<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CourseMapper">
	<resultMap type="entity.Course" id="courseMapper">
		<id property="course_id" column="course_id"/>
		<result property="course_name" column="course_name"/>
		<collection property="majorList" ofType="entity.Major">
			<id column="major_Id" property="major_id"/>
			<result column="major_name" property="major_name"/>
		</collection>
	</resultMap>
	<select id="getall" parameterType="string" resultType="entity.Course">
		SELECT * FROM  course
	</select>
	<select id="findById" parameterType="string" resultType="entity.Course">
        SELECT * FROM course  WHERE course_id=#{course_id}
	</select>
	<insert id="add" parameterType="entity.Course">
		<selectKey keyProperty="course_id" resultType="String" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO course (course_id,course_name) VALUES (#{course_id},#{course_name})
	</insert>

	<update id="delete" parameterType="string">
		delete from course
        where course_id = #{course_id}
	</update>
	<update id="update" parameterType="entity.Course">
	  UPDATE  course SET course_name = #{course_name} where course_id=#{course_id}
	</update>
</mapper>









