<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.DeptMapper">
	<resultMap type="entity.Dept" id="deptMapper">
		<id property="deptId" column="dept_id"/>
		<result property="deptName" column="dept_name"/>
		<collection property="employeeList" ofType="entity.Employee">
			<id property="empId" column="emp_id"/>
			<result property="empName" column="emp_name"/>
			<result property="photo" column="photo"/>
			<result property="empGrade" column="emp_grade"/>
			<result property="enterDate" column="enter_date"/>
			<result property="photo" column="emp_photo"/>
			<result property="overDate" column="over_date"/>
		</collection>
	</resultMap>
	<insert id="add" parameterType="entity.Dept">
		<selectKey keyProperty="deptId" resultType="String" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT into dept(dept_id,dept_name) VALUES (#{deptId},#{deptName})
	</insert>
	<update id="update" parameterType="entity.Dept">
		UPDATE dept SET  dept_name = #{deptName} where dept_id =#{deptId}
	</update>
	<delete id="delete" parameterType="string">
      delete FROM dept where dept_name = #{dept_Name} where dept_id =#{deptId}
	</delete>
	<select id="findById" resultType="entity.Employee" parameterType="string">
		SELECT *FROM dpet WHERE dept_id = #{deptId}
	</select>
	<select id="getall" resultMap="deptMapper" >
		SELECT *FROM  dept
	</select>

</mapper>









