<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.LeaderMapper">
	<resultMap type="entity.Leader" id="leaderMapper">
		<id property="id" column="id"/>
		<result property="photo" column="photo"/>
		<result property="work" column="work"/>
		<result property="synopsis" column="synopsis"/>
		<result property="state" column="state"/>
		<result property="enterDate" column="enterDate"/>
		<result property="nowDate" column="nowDate"/>
	</resultMap>
	<insert id="add" parameterType="entity.Leader">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT into leader(id,name,photo,work,synopsis,state,enterdate,nowdate) VALUES
		(#{id},#{name},#{photo},#{work},#{synopsis},#{state},#{enterDate},#{nowDate})
	</insert>
	<update id="update" parameterType="entity.Leader">
		UPDATE leader set name=#{name},photo=#{photo},synopsis=#{synopsis},state=#{state},enterdate=#{enterDate},nowdate=#{nowDate}
		WHERE id = #{id}
	</update>
	<delete id="delete" parameterType="string">
		DELETE FROM leader WHERE id = #{id}
	</delete>
	<select id="getall" resultMap="leaderMapper">
		SELECT * FROM leader
	</select>
	<select id="findById" resultType="entity.Leader" parameterType="string">
     	SELECT *FROM leader where id =#{id}
	</select>
	<select id="findByPosition" resultType="entity.Leader" parameterType="string">
			SELECT *FROM leader where state =#{state}
	</select>

</mapper>









