<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.PictureMapper">
	<resultMap type="entity.Picture" id="pictureMapper">
		<id property="id" column="id"/>
		<result property="src" column="src"/>
	</resultMap>
	<select id="getall" parameterType="string" resultType="entity.Picture">
		SELECT * FROM  picture
	</select>
	<select id="findById" parameterType="string" resultType="entity.Picture">
        SELECT * FROM picture  WHERE id=#{id}
	</select>
	<insert id="add" parameterType="entity.Picture">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO picture (id,src) VALUES (#{id},#{src})
	</insert>

	<update id="delete" parameterType="string">
		delete from picture
        where id = #{id}
	</update>
	<update id="update" parameterType="entity.Picture">
	  UPDATE  picture SET src = #{src} where id=#{id}
	</update>
</mapper>









